{% extends 'base.html' %}
{% block conteudo %}

<div class="container my-5">
    <div class="row">
        <div class="col-lg-9 col-md-12">
            <h1>{{post.titulo}}</h1>

            <div class="my-3">
                <small class="text-muted">Por {{post.usuario.nome}}, {{ post.cadastrado_em|date("d/m/Y") }} às {{ post.cadastrado_em|date("H:i") }} em {{post.categoria.titulo}}</small>
            </div>

            {% if post.capa %}
            <div class="float-xl-start float-lg-none capaGrande mx-auto">
                <div class="card border-0">
                    <a data-fancybox data-caption="{{post.titulo}}" class="overflow zoom " href="{{url('uploads/imagens/'~post.capa)}}">
                        <img src="{{url('uploads/imagens/'~post.capa)}}" alt="{{post.titulo}}" title="{{post.titulo}}" />
                    </a>
                </div>
            </div>
            {% endif %}            

            <div class="texto">
                <p>{{post.texto | raw}}</p>
            </div>
        </div>
        <div class="col-lg-3">
            {% include'sidebar.html '%}
        </div>
    </div>
</div>

{% endblock %}